﻿@using LLF.Data.Containers;
@using LLF.Abstract.Data.Engine;
@using GridMvc.Html;
@model MessageGridViewModel

@{
    ViewBag.Title = PageTitles.DashboardMessageGrid;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    Func<MessageViewModel, IPartialModel> actionsModel = (row) => DependencyContainer.Take<IPartialModel>()
                                .Attribute("Action").Has("messagegrid").Has("messagegrid")
                                .Attribute("Controller").Has("dashboard").Has("dashboard")
                                .Attribute("RouteData")
                                    .Has(new { command = "goruntule", argument = row.MessageID }).Has(new { command = "sil", argument = row.MessageID })
                                .Attribute("LinkTitle").Has(DashboardContent.TitleViewMessage)
                                    .Has(DashboardContent.TitleModifyMessage)
                                .Attribute("IconClass").Has("eye").Has("trash-o")
                                .Attribute("ConfirmText").Has("").Has(DashboardContent.CommandDeleteMessageConfirm)
                                .Attribute("AnchorClass").Has("success").Has("danger");
}

@section Styles {
    @Styles.Render("~/Content/gridmvc")
}

<div id="page-wrapper">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">@DashboardContent.GridMessagesTitle</div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                @Html.Grid(Model.Messages).Columns(
                    columns => {
                        columns.Add(m => m.Name).Titled(DashboardContent.ColumnMessagesNameTitle).Sortable(true).SetWidth(160);
                        columns.Add(m => m.Email).Titled(DashboardContent.ColumnMessagesEmailTitle).Sortable(true).SetWidth(160);
                        columns.Add(m => m.PostedOn).Titled(DashboardContent.ColumnMessagesPostedOnTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:g}".PostFormat(row.PostedOn)).SetWidth(140);
                        columns.Add(m => m.Comments).Titled(DashboardContent.ColumnMessagesCommentsTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => row.Comments.Summary(64));
                        columns.Add().Titled(DashboardContent.ColumnActionsTitle).Sortable(false).Sanitized(false).Encoded(false)
                            .RenderValueAs(row => Html.Partial("_Actions", actionsModel(row))).SetWidth(170);
                    }).Sortable().WithPaging(10).EmptyText(DashboardContent.TitleMessagesEmptyData)
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Action("UserInfo")
        </div>
    </div>
</div><!--/page-wrapper-->
@Html.Partial("_MessageModal", Model.Modal)

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}
