﻿@{
    ViewBag.Title = "Home Page";
}

@using GridMvc.Html
@using FS.ViewModel
@using FS.Web.Models
@model FileGridViewModel

<div class="row">
    <button id="add-file" type="submit" class="btn btn-sm btn-success pull-right">Dosya Ekleyin</button>
</div>
<div class="row">
    @Html.Grid(Model.FileItems).Columns(
    columns => {
        columns.Add(fi => fi.FileName)
                .Titled("Dosya İsmi")
                .SetWidth(240)
                .Sortable(true);
        columns.Add(fi => fi.Extension)
                .Titled("Uzantı")
                .SetWidth(55)
                .Sortable(true);
        columns.Add(fi => fi.ContentType)
                .Titled("İçerik Tipi")
                .SetWidth(160)
                .Sortable(true);
        columns.Add(fi => fi.ContentLength)
                .Titled("Boyut (MB)")
                .SetWidth(70)
                .Encoded(false).Sanitized(false)
                .RenderValueAs(fi => @Html.ContentLengthAsMB(fi.ContentLength));
        columns.Add()
                .SetWidth(90)
                .Encoded(false)
                .Titled("Komutlar")
                .Sanitized(false).RenderValueAs(row => @Html.Partial("_RowCommands", row));
    }).Sortable().WithPaging(6).EmptyText("Henüz Dosya Yok").SetRowCssClasses(row => "active")
</div>

@Html.Partial("_Upload", new FileUploadViewModel())

@section Scripts {
    <script>
        $(function () {
            $('#add-file').click(function () {
                $('#modal-container').modal({
                    show: true
                });
            })
           
        })
    </script>
}