﻿@model CarouselViewModel

<div class="row-fluid">
    <div class="span12">

        <div id="headerSeparator"></div>

        <div class="camera_full_width">
            <div id="camera_wrap">
                @foreach (var slide in Model.Slides) {
                    <div data-src="@(slide.SlidePath)"><div class="camera_caption fadeFromBottom cap1">@(slide.SlideText)</div></div>
                }
            </div>
            <br style="clear:both" /><div style="margin-bottom:40px"></div>
        </div>

        <div id="headerSeparator2"></div>

    </div>
</div>

@Html.Script(1,
    @<script type="text/javascript">
        function startCamera() {
            $('#camera_wrap').camera({ fx: 'scrollLeft', time: 2000, loader: 'none', playPause: false, navigation: true, height: '35%', pagination: true });
        };
        $(function () { startCamera() });
    </script>)