﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@PageContent.MetaDescription">
    <meta name="author" content="@PageContent.SiteAuthor">
    <title>@ViewBag.Title - @(PageContent.ApplicationBrand)</title>

    @Styles.Render("~/Content/bbiz/css")
    @Styles.Render("~/Content/common/css")


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Icons -->
    <!--<link href="scripts/icons/general/stylesheets/general_foundicons.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="scripts/icons/social/stylesheets/social_foundicons.css" media="screen" rel="stylesheet" type="text/css" />-->
    <!--[if lt IE 8]>
        <link href="scripts/icons/general/stylesheets/general_foundicons_ie7.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="scripts/icons/social/stylesheets/social_foundicons_ie7.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--<link rel="stylesheet" href="scripts/fontawesome/css/font-awesome.min.css">-->
    <!--[if IE 7]>
        <link rel="stylesheet" href="scripts/fontawesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    @*<link href="scripts/carousel/style.css" rel="stylesheet" type="text/css" />
        <link href="scripts/camera/css/camera.css" rel="stylesheet" type="text/css" />*@

    <link href="http://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">

    @*<link href="styles/custom.css" rel="stylesheet" type="text/css" />*@
    @RenderSection("styles", required: false)
    @Html.RenderHeadings()

</head>
<body id="pageBody">

    <div id="divBoxed" class="container">

        <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

        <div class="divPanel notop nobottom">
            <div class="row-fluid">
                <div class="span12">

                    <div id="divLogo" class="pull-left">
                        <a href="@Url.Action("index", "home")" id="divSiteTitle">@PageContent.ApplicationBrand</a><br />
                        <a href="@Url.Action("index", "home")" id="divTagLine">@PageContent.ApplicationName</a>
                    </div>

                    <div id="divMenuRight" class="pull-left">
                        <div class="navbar">
                            <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                                @PageContent.TitleNavigation <span class="icon-chevron-down icon-white"></span>
                            </button>
                            <div class="nav-collapse collapse">
                                <ul class="nav nav-pills ddmenu">
                                    <li class="@(ViewBag.IndexCurrent)">@Html.ActionLink(PageTitles.HomeIndex, "index", "home")</li>
                                    <li class="@(ViewBag.AboutCurrent)">@Html.ActionLink(PageTitles.HomeAbout, "about", "home")</li>
                                    <li class="dropdown">
                                        <a href="page.html" class="dropdown-toggle">Menü <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="full.html">Menü 1</a></li>
                                            <li><a href="2-column.html">Menü 2</a></li>
                                            <li><a href="3-column.html">Menü 3</a></li>
                                            <li><a href="">Menü 4</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle">Alt Menü &nbsp;&raquo;</a>
                                                <ul class="dropdown-menu sub-menu">
                                                    <li><a href="#">Alt Menü 1</a></li>
                                                    <li><a href="#">Alt Menü 2</a></li>
                                                    <li><a href="#">Alt Menü 3</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="@(ViewBag.ServiceCurrent)">@Html.ActionLink(PageTitles.HomeServices, "services", "home")</li>
                                    <li class="@(ViewBag.PortfolioCurrent)"> @Html.ActionLink(PageTitles.HomePortfolio, "portfolio", "home")</li>
                                    <li class="@(ViewBag.ContactCurrent)"> @Html.ActionLink(PageTitles.HomeContact, "contact", "home")</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @RenderSection("Carousel", required: false)

        </div>

        <div class="contentArea">

            @RenderBody()

        </div>
        
        <div id="footerOuterSeparator"></div>

        @Html.Partial("_HomeFooter")

    </div>
    <br /><br /><br />
    @Scripts.Render("~/bundles/bbiz/js")
    @*<script type="text/javascript">
        $('#list_photos').carouFredSel({ responsive: true, width: '100%', scroll: 2, items: { width: 320, visible: { min: 2, max: 6 } } });
        </script>*@
    @RenderSection("scripts", required: false)
    @Html.RenderScripts()

</body>
</html>