﻿@model MessageViewModel

@*@Html.Script(0, @<script src="@Url.Content("~/Scripts/common/ShowModal.js")" type="text/javascript"></script>)

@if (Model.ShowModal == true || Model.Success == false) {
    @Html.Script(1,
    @<script type="text/javascript">
        $(function () {
            succeeds('@(Model.Message)', '@(Model.ModalTitle)', '@(Model.Success)' == 'True' ? true : false, '@(Model.Redirect)');
        });
    </script>);
}*@


<div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="@(DashboardContent.TextModalDismiss)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="h-modal-title"></h4>
            </div>
            <div class="modal-body" id="div-modal-body">
                @if (Model.ViewModelMode == LLF.ViewModel.Core.EViewModelMode.ViewMode) {
                    <form action="" class="form-horizontal">
                        <div class="input-group col-lg-12">
                            @Html.LabelFor(m => m.Name, PageContent.PlaceholderContactName, new { @class = "col-lg-2" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg", type = "text", name = "name", id = "name", disabled = "" })
                        </div>
                        <div class="input-group col-lg-12">
                            @Html.LabelFor(m => m.Email, PageContent.PlaceholderContactEmail, new { @class = "col-lg-2" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", type = "email", name = "email", id = "email", disabled = "" })
                        </div>
                        <div class="input-group col-lg-12">
                            @Html.LabelFor(m => m.Comments, PageContent.PlaceholderContactComments, new { @class = "col-lg-2" })
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control input-lg", name = "message", id = "message", rows = "11" })
                        </div>
                    </form>
                } else {
                    using (Ajax.BeginForm("message", "dashboard", new { command = "degistir", argument = Model.MessageID }, new AjaxOptions() { HttpMethod = "POST" })) {
                        <fieldset>
                            @Html.TextBoxFor(m => m.Name, new { @class = "input-block-level", type = "text", placeholder = PageContent.PlaceholderContactName, name = "name", id = "name", disabled = "" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", type = "email", placeholder = PageContent.PlaceholderContactEmail, name = "email", id = "email", required = "" })
                            @Html.TextAreaFor(m => m.Comments, new { @class = "input-block-level", placeholder = PageContent.PlaceholderContactComments, name = "message", id = "message", rows = "11", required = "" })
                            <div class="actions">
                                <input type="submit" value="@PageContent.TitleSubmitSendYourMessage" name="submit" id="submitButton" class="btn btn-info pull-right" />
                            </div>

                        </fieldset>
                    }
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@(DashboardContent.TextModalDismiss)</button>
            </div>
        </div>
    </div>
</div>

@if (Model.ModalActivated) {
    @Html.Script(1, @<script>
        $(function () {
            $('#modal-container').on('hide.bs.modal', function (e) {
                document.location.href = '@Model.Redirect';
            });
            $('#modal-container').modal({
                show: true
            });
        })
    </script>)
}