﻿@model MessageViewModel

@{
    ViewBag.Title = PageTitles.HomeContact;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.ContactCurrent = "active";
}

<div class="divPanel notop page-content">

    <div class="breadcrumbs">
        @Html.ActionLink(PageTitles.HomeIndex, "index", "home") &nbsp;/&nbsp; <span>@PageTitles.HomeContact</span>
    </div>

    <div class="row-fluid">
        <div class="span6" id="divMain">

            <h1>@PageContent.TitleHomeContactHeader</h1>
            <div class="row">
                <div class="col-md-12">
                    @Html.Action("UserInfo")
                </div>
            </div>
            <hr>
            <!--Start Contact form -->
            @using (Ajax.BeginForm("contact", "home", new AjaxOptions() { HttpMethod = "POST" })) {
                <fieldset>
                    @Html.TextBoxFor(m => m.Name, new { @class = "input-block-level", type = "text", placeholder = PageContent.PlaceholderContactName, name = "name", id = "name", required = "" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", type = "email", placeholder = PageContent.PlaceholderContactEmail, name = "email", id = "email", required = "" })
                    @Html.TextAreaFor(m => m.Comments, new { @class = "input-block-level", placeholder = PageContent.PlaceholderContactComments, name = "message", id = "message", rows = "11", required = "" })
                    <div class="actions">
                        <input type="submit" value="@PageContent.TitleSubmitSendYourMessage" name="submit" id="submitButton" class="btn btn-info pull-right" />
                    </div>

                </fieldset>
            }
            <!--End Contact form -->
        </div>

        <!--Edit Sidebar Content here-->
        <div class="span6 sidebar">

            <div class="sidebox">
                <h3 class="sidebox-title">@PageContent.TitleFooterContact</h3>
                <p>
                    <address>
                        <strong>@PageContent.ApplicationName </strong><br />
                        @PageContent.TitleFooterContactContent1<br />
                        @PageContent.TitleFooterContactContent2<br />
                        @PageContent.TitleFooterContactContent3<br />
                        <abbr title="@PageContent.TitleFooterPhone">P:</abbr> @PageContent.ContactPhone
                    </address>
                    <address>
                        <strong>@PageContent.TitleFooterEmail</strong><br />
                        <a href="mailto:@(PageContent.ContactEmail)">@PageContent.ContactEmail</a>
                    </address>
                </p>

                <div id="map-contact" class="border2px"></div>

            </div>



        </div>
        <!--/End Sidebar Content-->


    </div>

</div>

@section Scripts  {
    @Scripts.Render("~/bundles/msajax")

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapCanvas = document.getElementById('map-contact');
            var mapOptions = {
                center: new google.maps.LatLng(40.737738, 31.615314),
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions)
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}