﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FrontGarden/FrontGarden.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="EMevzuat.View.FrontGarden.Contact" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
</asp:Content>

<asp:Content runat="server" ContentPlaceHolderID="ScriptsPlaceHolderChild" ID="contenS">
</asp:Content>