﻿@using BilBildir.ViewModel.UI.User
@using LLF.Extensions
@using GridMvc.Html;
@using BilBildir.ViewModel.UI.User.RowModels

@model BidViewModel
@{
	ViewBag.Title = Model.ViewTitle;
    Layout = "~/Views/Shared/_User.cshtml";
    Func<MyBidsRowModel, IPartialModel> myBidsModel = (row) => 
                        DependencyContainer.Take<IPartialModel>()
								.Attribute("Action").Has("bids").Has("bids").Has("bids")
								.Attribute("Controller").Has("user").Has("user").Has("user")
								.Attribute("RouteData").Has(new { command = "apply", argument = row.BidID })
									.Has(new { command = "review", argument = row.BidID }).Has(new { command = "ignore", argument = row.BidID })
								.Attribute("LinkTitle").Has(Classified.ActionApplyTitle)
									.Has(Classified.ActionIgnoreTitle).Has(Classified.ActionReviewTitle)
								.Attribute("ConfirmText").Has(Classified.ConfirmApplyBid)
									.Has(Classified.ConfirmReviewBid).Has(Classified.ConfirmIgnoreBid)
								.Attribute("IconClass").Has("zoom-in").Has("edit").Has("trash")
								.Attribute("AnchorClass").Has("success").Has("info").Has("danger");
	Func<MyBidsRowModel, IPartialModel> myReviewedBidsModel = (row) => DependencyContainer.Take<IPartialModel>()
								.Attribute("Action").Has("bids").Has("bids")
								.Attribute("Controller").Has("user").Has("user")
								.Attribute("RouteData").Has(new { command = "apply", argument = row.BidID })
									.Has(new { command = "ignore", argument = row.BidID })
								.Attribute("LinkTitle").Has(Classified.ActionApplyTitle)
									.Has(Classified.ActionDeleteTitle)
								.Attribute("ConfirmText").Has(Classified.ConfirmApplyBid).Has(Classified.ConfirmIgnoreBid)
								.Attribute("IconClass").Has("zoom-in").Has("trash")
								.Attribute("AnchorClass").Has("success").Has("danger");
	Func<MyBidsRowModel, IPartialModel> myIgnoredBidsModel = (row) => DependencyContainer.Take<IPartialModel>()
								.Attribute("Action").Has("bids")
								.Attribute("Controller").Has("user")
								.Attribute("RouteData").Has(new { command = "review", argument = row.BidID })
								.Attribute("LinkTitle").Has(Classified.ActionReviewTitle)
								.Attribute("ConfirmText").Has(Classified.ConfirmReviewBid)
								.Attribute("IconClass").Has("zoom-in")
								.Attribute("AnchorClass").Has("info");
}

<!-- start: Content -->
<div id="content" class="span10">


    @Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2>
                    <i class="halflings-icon user"></i>
                    <span class="break"></span>
					@Classified.PendingBidsTableTitle
                </h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
				@Html.Grid(Model.MyBids).Columns(
					columns => {
						columns.Add(m => m.BiddedOn).Titled(Classified.ColumnBiddedOnTitle).Sortable(true).SetWidth(110).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:d}".PostFormat(row.BiddedOn));
						columns.Add(m => m.BiddedPrice).Titled(Classified.ColumnBiddedPriceTitle).Sortable(true).SetWidth(110).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:c}".PostFormat((Decimal)row.BiddedPrice));
						columns.Add(m => m.Category).Titled(Classified.ColumnCategoryTitle).Sortable(true);
						columns.Add(m => m.Deadline).Titled(Classified.ColumnDeadlineTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:g}".PostFormat(row.Deadline));
						columns.Add(m => m.ActorIdentity).Titled(Classified.ColumnBidderIdentityTitle).Sortable(true).SetWidth(110);
						columns.Add(m => m.BidDescription).Titled(Classified.ColumnBidDescriptionTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span data-rel="tooltip" data-original-title="@row.BidDescription">@row.BidDescriptionSummary</span>);
						columns.Add(m => m.Status).Titled(Classified.ColumnBidStatusTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span class="label label-@(row.LabelClass)">@row.Status</span>);
						columns.Add().Titled(Classified.ColumnActionsTitle).Sortable(false).SetWidth(140).Sanitized(false).Encoded(false)
							.RenderValueAs(row => Html.Partial("_Actions", myBidsModel(row)));
							 }).Sortable().WithPaging(20).EmptyText(Classified.PendingBidsEmptyData).SetRowCssClasses(row => "active")
            </div>
        </div><!--/span-->

    </div><!--/row-->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon align-justify"></i><span class="break"></span>@Classified.ReviewedBidsTableTitle</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
				@Html.Grid(Model.MyReviewedBids).Columns(
					columns => {
						columns.Add(m => m.BiddedOn).Titled(Classified.ColumnAppliedOnTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:d}".PostFormat(row.BiddedOn));
						columns.Add(m => m.Category).Titled(Classified.ColumnCategoryTitle).Sortable(true);
						columns.Add(m => m.Deadline).Titled(Classified.ColumnDeadlineTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:g}".PostFormat(row.Deadline));
						columns.Add(m => m.Status).Titled(Classified.ColumnStatusTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span class="label label-@(row.LabelClass)">@row.Status</span>);
						columns.Add().Titled(Classified.ColumnActionsTitle).Sortable(false).SetWidth(140).Sanitized(false).Encoded(false)
							.RenderValueAs(row => Html.Partial("_Actions", myReviewedBidsModel(row)));
					}).Sortable().WithPaging(20).EmptyText(Classified.PendingBidsEmptyData).SetRowCssClasses(row => "active")
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon align-justify"></i><span class="break"></span>@Classified.IgnoredBidsTableTitle</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
				@Html.Grid(Model.MyIgnoredBids).Columns(
					columns => {
						columns.Add(m => m.BiddedOn).Titled(Classified.ColumnAppliedOnTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:d}".PostFormat(row.BiddedOn));
						columns.Add(m => m.Category).Titled(Classified.ColumnCategoryTitle).Sortable(true);
						columns.Add(m => m.Deadline).Titled(Classified.ColumnDeadlineTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:g}".PostFormat(row.Deadline));
						columns.Add(m => m.Status).Titled(Classified.ColumnStatusTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span class="label label-@(row.LabelClass)">@row.Status</span>);
						columns.Add().Titled(Classified.ColumnActionsTitle).Sortable(false).SetWidth(140).Sanitized(false).Encoded(false)
							.RenderValueAs(row => Html.Partial("_Actions", myIgnoredBidsModel(row)));
					}).Sortable().WithPaging(20).EmptyText(Classified.IgmoredBidsEmptyData).SetRowCssClasses(row => "active")
               
            </div>
        </div><!--/span-->
    </div><!--/row-->


</div><!--/.fluid-container-->
<!-- end: Content -->