﻿@using BilBildir.ViewModel.UI.User
@using LLF.Extensions
@using GridMvc.Html;
@using BilBildir.ViewModel.UI.User.RowModels

@model MyApplicantsViewModel
@{
	ViewBag.Title = Model.ViewTitle;
	Layout = "~/Views/Shared/_User.cshtml";
	Func<MyApplicantsRowModel, IPartialModel> applicantsModel = row => DependencyContainer.Take<IPartialModel>()
                                .Attribute("Action").Has("myapplicants")
								.Attribute("Controller").Has("user")
								.Attribute("RouteData").Has(new { command = "approve", argument = row.BidID, argument2 = row.ApplicantID })
								.Attribute("LinkTitle").Has(Classified.ActionApproveTitle)
								.Attribute("ConfirmText").Has(Classified.ActionApproveConfirm)
								.Attribute("IconClass").Has("edit")
								.Attribute("AnchorClass").Has("success");
	Func<MyApplicantsRowModel, IPartialModel> theBidModel = row => DependencyContainer.Take<IPartialModel>()
                                .Attribute("IsPostBackLink").Has(true)
                                .Attribute("Action").Has("thebid")
								.Attribute("Controller").Has("user")
								.Attribute("RouteData").Has(new { argument = row.BidID, argument2 = row.ApplicantID })
								.Attribute("LinkTitle").Has(Classified.ActionBidDetailTitle)
								.Attribute("IconClass").Has("zoom-in")
								.Attribute("AnchorClass").Has("info");

}

<div id="content" class="span10">


	@Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2>
					<i class="halflings-icon user"></i>
					<span class="break"></span>
					@Classified.MyApplicantsTableTitle
				</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				@Html.Grid(Model.MyApplicants).Columns(
					columns => {
						columns.Add(m => m.BiddedOn).Titled(Classified.ColumnBiddedOnTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:d}".PostFormat(row.BiddedOn));
						columns.Add(m => m.BiddedPrice).Titled(Classified.ColumnBiddedPriceTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:c}".PostFormat((Decimal)row.BiddedPrice));
						columns.Add(m => m.Category).Titled(Classified.ColumnCategoryTitle).Sortable(true);
						columns.Add(m => m.Deadline).Titled(Classified.ColumnDeadlineTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => "{0:g}".PostFormat(row.Deadline));
						columns.Add(m => m.ActorIdentity).Titled(Classified.ColumnApplicantIdentityTitle).Sortable(true).SetWidth(110);
						columns.Add(m => m.Status).Titled(Classified.ColumnBidStatusTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span class="label label-@(row.LabelClass)">@row.Status</span>);
						columns.Add(m => m.RankReliability).Titled(Classified.ColumnRankReliabilityTitle).Sortable(true).Sanitized(false).Encoded(false).RenderValueAs(row => @<span class="label label-@(row.RankLabelClass)">@row.RankReliability</span>);
						columns.Add(m => m.RankRatio).Titled(Classified.ColumnRankRatioTitle).Sortable(true);
						columns.Add().Titled(Classified.ColumnActionsTitle).Sortable(false).SetWidth(140).Sanitized(false).Encoded(false).RenderValueAs(row => {
							var str = String.Empty;
							if (@row.ApproveEnabled) {
								str += Html.Partial("_Actions", applicantsModel(row));
							} else {
								str += MvcHtmlString.Create(@"<a href=""#""
									title="""" data-rel=""tooltip"" class=""btn btn-info"" data-original-title="""+Classified.ActionApproveDisabledTitle+@""">
									<i class=""halflings-icon white edit""></i>
								</a>");
							}
							str += Html.Partial("_Actions", theBidModel(row));
							return MvcHtmlString.Create("<div>{0}</div>".PostFormat(str));

						});
							 }).Sortable().WithPaging(20).EmptyText(Classified.MyApplicantsTableEmptyData).SetRowCssClasses(row => "active")

				@Html.Partial("_HistoryBack")
			</div>
		</div><!--/span-->
	</div><!--/row-->

</div>