﻿@using BilBildir.ViewModel.UI.User
@using LLF.Extensions

@model TheTaskViewModel

@{
	ViewBag.Title = Model.ViewTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}


<div id="content" class="span10">


    @Html.Partial("_Breadcrumb", new ViewDataDictionary() {
        { "SiteName", Classified.SiteName },
        { "SiteTitle", @ViewBag.Title }
    })

    <div class="row-fluid sortable">
        <div class="box span6">
            <div class="box-header" data-original-title>
                <h2>
                    <i class="halflings-icon edit"></i>
                    <span class="break"></span>
                    @Classified.TheTaskFormTitle
                </h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Ajax.BeginForm("thetask", "user",
                new { command = "update", argument = Model.TaskID },
                new AjaxOptions() {
                    HttpMethod = "POST",
                    AllowCache = false,
                    OnSuccess = "succeeded"
                }, new { @class = "form-horizontal" })) {
                    <fieldset>
                        <div class="control-group">
                            @Html.LabelFor(m => m.ActorIdentity, Classified.TheTaskActorIdentityLabel,
                                new { @class = "control-label", @for = "input01" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.ActorIdentity,
                                    new {
                                        type = "text", @class = "input-xlarge uneditable-input",
                                        id = "input01", value = Model.ActorIdentity,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.BidderIdentity, Classified.TheTaskBidderIdentityLabel,
                                new { @class = "control-label", @for = "input02" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.BidderIdentity,
                                    new {
                                        type = "text", @class = "input-xlarge uneditable-input",
                                        id = "input02", value = Model.BidderIdentity,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Title, Classified.TheTaskTaskTitleLabel,
                                new { @class = "control-label", @for = "input03" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Title,
                                    new {
                                        type = "text", @class = "input-xlarge focused",
                                        id = "input03", value = Model.Title,
                                        required = ""
                                    })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@(Classified.TheTaskCompletionProgressLabel)</label>
                            <div class="controls">
                                <div class="progress progress-striped progress-@(Model.TaskStatusColorClass)">
                                    <div class="bar" id="div-percent" style="width: @(Model.CompletionPercent)%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.CompletionPercent, Classified.TheTaskCompletionPercentLabel,
                                new { @class = "control-label", @for = "input04" })
                            <div class="controls">
                                <div class="input-append">
                                    @Html.TextBoxFor(m => m.CompletionPercent,
                                    new {
                                        id = "input04", type = "range",
                                        value = Model.CompletionPercent,
                                        min = 1, max = 100
                                    })
                                    <span class="add-on" id="percent">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">@Classified.SaveChanges</button>
							@Html.Partial("_HistoryBack")
                        </div>
                    </fieldset>
                }

            </div>
        </div><!--/span-->
        <div class="box span6 noMargin" ontablet="span12" ondesktop="span6">
            <div class="box-header">
                <h2>
                    <i class="halflings-icon check"></i><span class="break"></span>
                    @Classified.ToDoItemsFormTitle
                </h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="todo">
                    <ul class="todo-list">
                        @foreach (var item in @Model.ToDoItems) {
                            <li>
                                @item.ToDoTitle <span class="label label-@(item.EmergencyColorClass)">
                                    @(item.EmergencyStatus)
                                </span>
                                <span class="todo-actions" style="width: 50px !important;">
                                    @using (Ajax.BeginForm("thetask", "user",
                                        new { command = "removeitem", argument = item.ToDoItemID },
                                        new AjaxOptions() {
                                            HttpMethod = "POST",
                                            AllowCache = false
                                        }, new { @class = "form-inline span12" })) {
                                        <a class="btn-close span6" href="javascript:void(0)" onclick='$(this).closest("form").submit();'>
                                            <i class="halflings-icon remove"></i>
                                        </a>
                                        <a role="button" class="span6">
                                            <i class="halflings-icon ok"></i>
                                        </a>
                                    }
                                </span>
                            </li>
                        }
                    </ul>
                    @using (Ajax.BeginForm("thetask", "user",
                        new { command = "additem", argument = Model.TaskID },
						new AjaxOptions() {
							HttpMethod = "POST",
							AllowCache = false,
							OnSuccess = "succeeded"
						}, new { @class = "form-inline" })) {
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.ToDoTitle,
                                        new {
                                            type = "text", @class = "inline span6 focused",
                                            id = "todo-title",
                                            required = "",
											placeholder = Classified.ToDoTitlePlaceholder
                                        })
                                    @Html.TextBoxFor(m => m.EmergencyStatus,
                                        new {
                                            type = "text", @class = "inline span6 typeahead",
                                            id = "emergency",
                                            required = "",
                                            data_provide = "typeahead",
                                            data_items = "4",
                                            data_source = Model.EmergencyStatusList,
											placeholder = Classified.ToDoEmergencyStatusPlaceholder
                                        })
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">@Classified.AddToDoItem</button>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>

    </div><!--/row-->
</div>
@section Scripts {
    <script>
        $(function () {
            function onchange(value) {
                $('#percent').text(value + '%');
                $('#div-percent').width(value + '%')
            }
            onchange(@(Model.CompletionPercent));
            $('#input04').on('change', function () {
                onchange($(this).val())
            });
        })
    </script>
}