﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Bulletins.aspx.cs" Inherits="EMevzuat.View.Headquarters.Bulletins" ValidateRequest="false"%>

<%@ Register Src="~/Headquarters/Controls/bulletins.ascx" TagPrefix="uc1" TagName="bulletins" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:bulletins runat="server" id="bulletins" />
</asp:Content>
