﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="DocumentView.aspx.cs" Inherits="EMevzuat.View.Headquarters.DocumentView" ValidateRequest="false" %>

<%@ Register Src="~/Headquarters/Controls/legislationsforusers.ascx" TagPrefix="uc1" TagName="legislationsforusers" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:legislationsforusers runat="server" id="legislationsforusers" />
</asp:Content>
