﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Htmls.aspx.cs" Inherits="EMevzuat.View.Headquarters.Htmls" ValidateRequest="false" %>

<%@ Register Src="~/Headquarters/Controls/htmls.ascx" TagPrefix="uc1" TagName="htmls" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:htmls runat="server" ID="htmls" />
</asp:Content>
