﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="PackageCategories.aspx.cs" Inherits="EMevzuat.View.Headquarters.PackageCategories" %>

<%@ Register Src="~/Headquarters/Controls/packagecategories.ascx" TagPrefix="uc1" TagName="packagecategories" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:packagecategories runat="server" id="packagecategories" />
</asp:Content>
