﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Solutions.aspx.cs" Inherits="EMevzuat.View.Headquarters.Solutions"  ValidateRequest="false"%>

<%@ Register Src="~/Headquarters/Controls/solutions.ascx" TagPrefix="uc1" TagName="solutions" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:solutions runat="server" id="solutions" />
</asp:Content>
