﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="UserActivity.aspx.cs" Inherits="EMevzuat.View.Headquarters.UserActivity"  ValidateRequest="false" %>

<%@ Register Src="~/Headquarters/Controls/useractions.ascx" TagPrefix="uc1" TagName="useractions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:useractions runat="server" id="useractions" />
</asp:Content>
