﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Headquarters/Headquarters.Master" AutoEventWireup="true" CodeBehind="Users.aspx.cs" Inherits="EMevzuat.View.Headquarters.Users" %>

<%@ Register Src="~/Headquarters/Controls/users.ascx" TagPrefix="uc1" TagName="users" %>



<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:users runat="server" id="users" />
</asp:Content>
