﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FS.NET</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar">
        <div class="container col-md-12">
            <div class="col-md-7">
                <img src="@Url.Content("~/Content/img/fslogo.png")" />
            </div>
            <div class="col-md-5">
                @Html.Action("LoginInfo")
            </div>
        </div>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FS.NET", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Anasayfa", "index", "home")
                    </li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("LeftMenu")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Action("UserInfo")
            </div>
        </div>
        <footer>
            <p class="text-info">&copy; @DateTime.Now.Year - FS.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/msajax")
    @RenderSection("scripts", required: false)
</body>
</html>
