﻿@model IPartialModel

@using BilBildir.Web.Models;
@foreach (var item in Model.Enumerate()) {
	<span class="span4">
		@if (item.ContainsKey("IsPostBackLink") && item["IsPostBackLink"].ToType<Boolean>()) {
			if (item.ContainsKey("ConfirmText") && !item["ConfirmText"].IsUnassigned()) {
				<a href="@Url.Action(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"])"
				   title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())"
				   onclick="return confirm('@(item["ConfirmText"].ToString())');">
					<i class="halflings-icon white  @(item["IconClass"].ToString())"></i>
				</a>
			} else {
				<a href="@Url.Action(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"])"
				   title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())">
					<i class="halflings-icon white  @(item["IconClass"].ToString())"></i>
				</a>
			}
		} else {
			if (item.ContainsKey("ConfirmText") && !item["ConfirmText"].IsUnassigned()) {
				using (Ajax.BeginForm(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"],
				new AjaxOptions() {
					HttpMethod = "POST",
					AllowCache = false,
					OnSuccess = "succeeded"
				}, new { @class = "form-inline" })) {
					<a href="javascript:void(0)"
					   title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())"
					   onclick="onbtnclick($(this), '@(item["ConfirmText"].ToString())')">
						<i class="halflings-icon white  @(item["IconClass"].ToString())"></i>
					</a>
				}
			} else {
				using (Ajax.BeginForm(item["Action"].ToString(), item["Controller"].ToString(), item["RouteData"],
				new AjaxOptions() {
					HttpMethod = "POST",
					AllowCache = false,
					OnSuccess = "succeeded"
				}, new { @class = "form-inline" })) {
					<a href="javascript:void(0)"
					   title="" data-rel="tooltip" class="btn btn-@(item["AnchorClass"].ToString())" data-original-title="@(item["LinkTitle"].ToString())"
					   onclick="onbtnclick($(this))">
						<i class="halflings-icon white  @(item["IconClass"].ToString())"></i>
					</a>
				}
			}
		}
	</span>
}
