﻿@using BilBildir.ViewModel.UI.Landing
@using BilBildir.Web.Models
@model AuthViewModel

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="@Html.Virtualize("/Images/favicon.ico")">

	<title>@Public.SiteName | @ViewBag.Title</title>
	@Styles.Render("~/Content/auth")
	@Scripts.Render("~/bundles/modernizr")

	@RenderSection("styles", required: false)
</head>
<body class="login-body">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="@Url.Action("atrium", "landing")" class="navbar-brand">@Public.SiteName</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav navbar-right">
					@Html.Partial("_LanguageSwitcher")
				</ul>

				@if (this.ViewContext.ActorLoggedIn()) {
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="@Url.Action("login", "auth")">@Model.Logout</a>
						</li>
					</ul>
				} else {
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">@Public.NotHavingCredentials<span class="caret"></span></a>
							<ul class="dropdown-menu" aria-labelledby="download">
								<li><a href="@Url.Action("recover", "auth")">@Public.ForgotPassword</a></li>
								<li><a href="@Url.Action("signup", "auth")">@Public.CreateAnAccount</a></li>
							</ul>
						</li>
					</ul>
				}
			</div>
		</div>
	</div>
	<br />
	<br />
	<div class="row-center">
		<div class="auth-stride"></div>
		@RenderBody()
	</div>

	@Html.Partial("_Footer")

	@Scripts.Render("~/bundles/layout")
	@Scripts.Render("~/bundles/msajax")
	@RenderSection("scripts", required: false)
	@Html.Partial("_Modal", Model.ResultObject)
	@Html.RenderScripts()
</body>
</html>
