﻿<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="@Url.Action("index", "user")">@Public.SiteName</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <i class="icon-edit"></i>
        <a href="#">@ViewData["SiteTitle"]</a>
    </li>
</ul>