﻿
<style>
	.footer-text {
		font-weight: bold;
		color: #384f33;
	}
	.only-white-shadow {
		text-shadow: 1px 1px white !important;
	}
</style>
<footer class="text-center">
	<span class="footer-text only-white-shadow">
		lampiclobe&copy;@DateTime.Now.Year - @Public.SiteName
	</span>
	<br />
	<br />
	<br />
</footer>
