﻿@using BilBildir.Web.Models
@using BilBildir.ViewModel.UI.Common

@model ImageCropperViewModel

@using (Html.BeginForm("avatarize", "user", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })) {
    <fieldset>
        <div class="control-group">
            <div class="row span12">
                <div class="span9">
                    <label title="@Public.UploadNewImage" for="inputImage" class="btn btn-primary"/>
                    <input type="file" accept="image/*" name="file" id="inputImage">
                </div>
                <div class="span3">
                    <img src="@Model.Image" class="profile-img" alt="profile">
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Public.UploadNewImage</button>
        </div>
    </fieldset>
}

