﻿@using BilBildir.ViewModel.UI.Landing
@using BilBildir.Web.Models

@model LandingViewModel


<!DOCTYPE html>
<html lang="@Public.Lang">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="@Public.Author">
	<!-- Add Your favicon here -->
	<link rel="shortcut icon" href="@Html.Virtualize("/Images/favicon.ico")">


	<title>@Public.SiteName | @ViewBag.Title</title>

	@Styles.Render("~/Content/landing")

	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("styles", required: false)


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Custom styles for this template -->

</head>
<body id="page-top">
	<div class="navbar-wrapper bring-front">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">@Public.ToggleNavigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="@Url.Action("login", "auth")">@Public.SignOn</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="page-scroll" href="#page-top">@Public.Home</a></li>
						<li><a class="page-scroll" href="#features">@Public.Features</a></li>
						<li><a class="page-scroll" href="#team">@Public.Team</a></li>
						<li><a class="page-scroll" href="#testimonials">@Public.Testimonials</a></li>
						<li><a class="page-scroll" href="#contact">@Public.Contact</a></li>
						@Html.Partial("_LanguageSwitcher")
					</ul>
				</div>
			</div>
		</nav>
	</div>

	@RenderBody()

	@Html.Partial("_Footer", new ViewDataDictionary() { { "SiteName", Model.SiteName } })


	@Scripts.Render("~/bundles/landing")
	@Scripts.Render("~/bundles/msajax")

	@Html.RenderScripts()

</body>
</html>
