﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Residence/Residence.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="EMevzuat.View.Residence.About" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
    
</asp:Content>
