﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/***********Code by lampiclobe**********/
/**GridMVC Start***/
.grid-mvc th {
    background: #05438e;
    color: white;
    font-weight: bold;
    /*text-shadow: 1px 1px 10px #FFF;*/
}
.grid-mvc tr {
}

table.grid-table .grid-header {
}
table.grid-table .grid-header > .grid-header-title {
    color: white;
}
/*****GridMVC---End*/

/*************Bootstrap Mods************/
.panel-success  > .panel-heading > .panel-title {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 10px #FFF;
}
/*.panel-primary > .panel-heading {
    background-color: #00fd9b !important;
}*/
.panel-primary  > .panel-heading > .panel-title {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 10px #FFF;
}


.navbar-inverse {
    background-color: #05438e;
    opacity: 0.7;
}
ul.pagination li a {
    cursor: pointer;
}
.dropdown-menu > li > form > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > form > a:hover,
.dropdown-menu > li > form > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
/***********Bootstrap End********/
body {
    background: url(/Images/bg-fixed.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-white-shadow {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 10px #FFF;
}

.text-black-shadow {
    color: black !important;
    font-weight: bold;
    text-shadow: 1px 1px 10px #FFF;
}

.codelb {
    opacity: 0.7;
}
ul.pagination[data-lmpc-action] {
    margin: -7px 10px 0px 10px; 
}