﻿
<style>
	.footer-text {
		font-weight: bold;
		color: black;
	}
	.only-white-shadow {
		text-shadow: 0px 0px 5px white !important;
	}
</style>
<footer class="text-center">
	<span class="footer-text only-white-shadow">
		lampiclobe&copy;@DateTime.Now.Year - @PageContent.SiteName
	</span>
	<br />
	<br />
	<br />
</footer>
