﻿@using Kodlaborate.ViewModels.Engine
@using Kodlaborate.ViewModels.RowModels
@model DisplayLinkModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_User.cshtml";
}

@if (Model.Response.GetData<IEnumerable<CodeBlockModel>>().Count() > 0) {
    <h2 class="text-white-shadow">@(PageContent.ExistingCodeHeader)</h2>
} else {
    <h2 class="text-white-shadow">@(PageContent.NoExistingCodeHeader)</h2>
}
@foreach (var model in Model.Response.GetData<IEnumerable<CodeBlockModel>>()) {
    @Html.Partial("_CodeBlockReadOnly", model)
}