﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MembershipLayout.cshtml";
}

@using FS.ViewModel.Membership
@model LoginViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Kullanıcı Giriş</h2>
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("login", "membership", FormMethod.Post, 
                    new { @class = "form-horizontal col-md-offset-2", role = "form" })) {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-md", type = "text", placeholder = "Kullanıcı Adı (ahmet_veli)", required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-md-10">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-md", type = "password", placeholder = "Şifre", required = "" })
                        </div>
                    </div>
                    <button type="submit" id="button-submit" class="btn btn-primary block full-width">
                        Giriş Yapın
                    </button>
                    <span>Henüz Bir Hesabınız Yok mu?</span>
                    @Html.ActionLink("Kayıt Ol", "register", "membership")
}
            </div>
        </div>

    </div>
</div>