﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MembershipLayout.cshtml";
}

@using FS.ViewModel.Membership
@model SetRolesViewModel

<div class="row">
    @Html.ActionLink("Ana Sayfa", "index", "home", null, new { @class = "pull-left btn btn-sm btn-primary" })
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Rol-Yetki Ekleme</h2>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("setroles", "membership", new { command = "add" }, new AjaxOptions() {
                    AllowCache = false,
                    HttpMethod = "POST",
                    OnSuccess = "success"
                },
new { @class = "form-horizontal col-md-offset-2", role = "form" })) {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Roller")
                                <div class="input-group col-md-10">
                                    @Html.DropDownListFor(m => m.SelectedRoleID, new SelectList(Model.AllRoles, "ID", "Description"), new { onchange = "this.form.submit();" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Yetkiler")
                                <div class="input-group col-md-10">
                                    @Html.DropDownListFor(m => m.SelectedAuthorityID, new SelectList(Model.AllAuthorities, "ID", "Description"))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Role-Ait Yetkiler")
                                <div class="input-group col-md-10">
                                    @Html.ListBoxFor(m => m.AuthoritiesOfRole, new SelectList(Model.AuthoritiesOfRole, "ID", "Description"))
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="button-submit" class="btn btn-success block full-width pull-right">
                        Rol-Yetki Ekle
                    </button>
                }
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2 class="panel-title">Rol-Yetki Silme</h2>
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("setroles", "membership", new { command = "delete" }, new AjaxOptions() {
                    AllowCache = false,
                    HttpMethod = "POST",
                    OnSuccess = "success"
                },
new { @class = "form-horizontal col-md-offset-2", role = "form" })) {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Roller")
                                <div class="input-group col-md-10">
                                    @Html.DropDownListFor(m => m.SelectedRoleID, new SelectList(Model.AllRoles, "ID", "Description"), new { onchange = "this.form.submit();" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Yetkiler")
                                <div class="input-group col-md-10">
                                    @Html.DropDownListFor(m => m.SelectedAuthorityID, new SelectList(Model.AllAuthorities, "ID", "Description"))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Role-Ait Yetkiler")
                                <div class="input-group col-md-10">
                                    @Html.ListBoxFor(m => m.SelectedAuthoritiesOfRole, new SelectList(Model.AuthoritiesOfRole, "ID", "Description"))
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="button-submit" class="btn btn-warning block full-width pull-right">
                        Rol-Yetki Sil
                    </button>
                }
            </div>
        </div>

    </div>
</div>




@section Scripts {
    <script>
        function success(data) {
            if (data.redirect) {
                document.location.href = data.redirect;
            }
        }
    </script>
}
