/*
	Minimaxing 2.0 by HTML5 Up!
	html5up.net | @nodethirtythree
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

/* Basic */


body {
    font-size: 13.5pt;
    background-color: #e3e9dc;
    font-family: 'Cuprum', sans-serif;
    color: #878e83;
    letter-spacing: -1px;
}

h1, h2, h3, h4 {
    color: #007897;
    font-weight: normal;
}

h1, h2 {
    text-transform: lowercase;
}

h2 {
    font-size: 1.6em;
    letter-spacing: -1px;
    margin-bottom: 1em;
}

h3, h4 {
    color: #283121;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

h4 {
    font-size: 1em;
}

p, ul {
    margin-bottom: 1.25em;
}

p {
    line-height: 1.8em;
}

strong {
    color: #474e43;
}

div.left {
    float: left;
    margin: 2px 1.25em 0 0;
}
div.left.circle.preview {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow:hidden;
}
div.left.circle.preview img {
    width: 120px;
    height: 120px;
} 
div.left.mustafatamer img {
    width: 140px;
    height: 140px;
}
div.left.mustafatamer {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-size: cover;
    background: transparent url('images/mustafa_tamer.jpg') no-repeat;
}
img.top {
    margin: 4px 0 2.25em 0;
}

ul {
    padding: 0.25em 0 0 0;
}

a {
    color: #5d93a2;
    text-decoration: underline;
}

    a:hover {
        text-decoration: none;
    }

* > p:last-child {
    margin-bottom: 0 !important;
}

/* Reusable */

article.blog-post {
    position: relative;
}

    article.blog-post .comments {
        position: absolute;
        top: 0;
        right: 0;
        height: 32px;
        line-height: 24px;
        padding-left: 40px;
        background: url('images/icon-bubble.png') no-repeat;
    }

ul.small-image-list {
}

    ul.small-image-list li {
        overflow: hidden;
        margin-bottom: 1.5em;
    }

ul.big-image-list {
}

    ul.big-image-list li {
        overflow: hidden;
        margin-bottom: 2em;
    }

ul.link-list {
}

    ul.link-list li {
        border-top: solid 1px #ced0b7;
        padding: 0.75em 0 0 0;
        margin: 0.75em 0 0 0;
    }

        ul.link-list li:first-child {
            padding-top: 0;
            margin-top: 0;
            border-top: 0;
        }

.button {
    display: inline-block;
    padding: 15px 25px 15px 25px;
    background-color: #007b9d;
    background-image: -moz-linear-gradient(top, #008dad, #007b9d);
    background-image: -webkit-linear-gradient(top, #008dad, #007b9d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008dad), to(#007b9d));
    background-image: -ms-linear-gradient(top, #008dad, #007b9d);
    background-image: -o-linear-gradient(top, #008dad, #007b9d);
    background-image: linear-gradient(top, #008dad, #007b9d);
    border-radius: 10px;
    text-transform: lowercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: -1px;
    border: solid 1px #006e8b;
    box-shadow: inset 0px 0px 0px 1px #18a8c8;
}

    .button:hover {
        background-color: #118eb1;
        background-image: -moz-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: -webkit-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b9fbe), to(#118eb1));
        background-image: -ms-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: -o-linear-gradient(top, #1b9fbe, #118eb1);
        background-image: linear-gradient(top, #1b9fbe, #118eb1);
        box-shadow: inset 0px 0px 0px 1px #3ecceb;
    }

