/*
	Minimaxing 2.0 by HTML5 Up!
	html5up.net | @nodethirtythree
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Desktop (>= 480px)                                                            */
/*********************************************************************************/

/* Basic */

section, article
{
    margin: 0 0 60px 0;
}

    section:last-child, article:last-child
    {
        margin-bottom: 0;
    }

    section.left-content
    {
        padding-right: 30px;
    }

    section.right-content
    {
        padding-left: 30px;
    }

    section.middle-content
    {
        padding: 0 30px 0 30px;
    }

ul.small-image-list img
{
    width: 78px;
}

ul.big-image-list img
{
    width: 178px;
}

/* Reusable */

.blog-post-image
{
    width: 588px;
}

/* Header */

#header-wrapper
{
    background-color: #007294;
    background-image: -moz-linear-gradient(top, #008dab, #007294);
    background-image: -webkit-linear-gradient(top, #008dab, #007294);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008dab), to(#007294));
    background-image: -ms-linear-gradient(top, #008dab, #007294);
    background-image: -o-linear-gradient(top, #008dab, #007294);
    background-image: linear-gradient(top, #008dab, #007294);
}

#header
{
    position: relative;
    margin: 2.5% 0 2.5% 0;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    border: solid 1px #006e8b;
    box-shadow: inset 0px 0px 0px 1px #12a0bf, 0px 1px 4px 0px rgba(0,0,0,0.10);
    background-color: #007b9d;
    background-image: -moz-linear-gradient(top, #008ead, #007b9d);
    background-image: -webkit-linear-gradient(top, #008ead, #007b9d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008ead), to(#007b9d));
    background-image: -ms-linear-gradient(top, #008ead, #007b9d);
    background-image: -o-linear-gradient(top, #008ead, #007b9d);
    background-image: linear-gradient(top, #008ead, #007b9d);
    height: 86px;
}

    #header h1
    {
        position: absolute;
        left: -40px;
        top: 0;
        color: #fff;
        font-size: 2.4em;
        letter-spacing: -2px;
        line-height: 86px;
    }

        #header h1 a
        {
            color: #fff;
            text-decoration: none;
            opacity: 0.6;
        }

    #header nav
    {
        position: absolute;
        right: 40px;
        top: 1px;
        line-height: 84px;
        text-transform: lowercase;
        font-size: 1.3em;
        letter-spacing: -1px;
    }

        #header nav a
        {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            padding: 0 15px 0 15px;
            outline: 0;
        }

            #header nav a.current-page-item
            {
                background-color: #007897;
                background-image: -moz-linear-gradient(top, #007b99, #007897);
                background-image: -webkit-linear-gradient(top, #007b99, #007897);
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007b99), to(#007897));
                background-image: -ms-linear-gradient(top, #007b99, #007897);
                background-image: -o-linear-gradient(top, #007b99, #007897);
                background-image: linear-gradient(top, #007b99, #007897);
                box-shadow: inset 0px 1px 5px 1px rgba(0,0,0,0.1), 0px 0px 5px 1px rgba(255,255,255,0.1);
            }

    #header nav a:hover
    {
        background-color: #0882a1;
        background-image: -moz-linear-gradient(top, #0782a0, #077d9b);
        background-image: -webkit-linear-gradient(top, #0782a0, #077d9b);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0782a0), to(#077d9b));
        background-image: -ms-linear-gradient(top, #0782a0, #077d9b);
        background-image: -o-linear-gradient(top, #0782a0, #077d9b);
        background-image: linear-gradient(top, #0782a0, #077d9b);
        box-shadow: inset 0px 1px 5px 1px rgba(0,0,0,0.05), 0px 0px 5px 1px rgba(255,255,255,0.05);
    }

/* Banner */

#banner-wrapper
{
    background: #c8d2bc url(images/bg1.png);
}

#banner
{
    position: relative;
    width: 1160px;
    height: 265px;
    margin: 2% 0 2% 0;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
    border-radius: 10px;
    padding: 20px;
    background: #fff url(images/banner.jpg) no-repeat 20px 20px;
    background-size: 1160px 265px;
}

    #banner h2
    {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 100px;
        left: 0;
        font-size: 3.3em;
        color: #fff;
        text-align: center;
        letter-spacing: -2px;
    }

    #banner span
    {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 105px;
        left: 0;
        font-size: 1.6em;
        color: #fff;
        text-align: center;
        letter-spacing: -1px;
        text-transform: lowercase;
        opacity: 0.8;
    }

/* Main */

#main
{
    background: #fff;
    padding: 2% 0 2% 0;
}

    #main .controls
    {
    }

    #main .main-row
    {
        margin: 2% 0 2% 0;
        overflow: hidden;
    }

/* Footer */

#footer-wrapper
{
    padding: 3% 0 3% 0;
}

/* Copyright */

#copyright
{
    text-align: center;
    color: #A6A88F;
    border-top: solid 1px #ced0b7;
    padding: 3em 0 0 0;
    margin: 1% 0 0 0;
}

    #copyright a
    {
        color: #A6A88F;
    }
